.search{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    padding: 1rem;
    /* transition: 0.3s; */
}
.active{
    height: 12vh;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: -1px 11px 24px -11px rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    margin: auto;
}
