@tailwind base;
@tailwind components;
@tailwind utilities;

/*=====================CSS VARIABLES =======================*/
:root {
  /*================= Colors ============*/
  --primary-color: #ff914d;
  --secondary-color: blue;
  --primary-text: #ff914d;
  --secondary-text: rgb(10, 10, 10);
  --primary-border-color: rgb(194, 194, 194);
  --secondary-border-color: gray;
  --primary-bg-color: #ff914d;
  --secondary-bg-color: white;
  --white-color: white;
  --black-color: black;
}

.syner-primary {
  color: var(--primary-color);
}
.syner-secondary {
  color: var(--secondary-color);
}
.syner-primary-text {
  color: var(--primary-text);
}
.syner-secondary-text {
  color: var(--secondary-text);
}
.syner-primary-border {
  border-color: var(--primary-border-color);
}
.syner-secondary-border {
  border-color: var(--secondary-border-color);
}
.syner-primary-bg {
  background-color: var(--primary-bg-color);
}
.syner-secondary-bg {
  background-color: var(--secondary-bg-color);
}
.syner-white {
  color: var(--white-color);
}
.syner-white-bg {
  background-color: var(--white-color);
}
.syner-black {
  color: var(--black-color);
}
.syner-black-bg {
  background-color: var(--black-color);
}

/*==== container ====*/
.syner-container {
  width: 100%;
  max-width: 1280px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}
