@tailwind base;
@tailwind components;
@tailwind utilities;

/*=====================CSS VARIABLES =======================*/
:root {
  /*================= Colors ============*/
  --primary-color: #ff914d;
  --secondary-color: #0d344f;
  --text-color: #777777;
  --primary-border-color: #ff914d17;
  --secondary-border-color: #0d344f17;
  --white-color: white;
  --black-color: black;
}

.syner-primary {
  color: var(--primary-color);
}
.syner-secondary {
  color: var(--secondary-color);
}
.syner-text {
  color: var(--text-color);
}
.syner-primary-border {
  border-color: var(--primary-border-color);
}
.syner-secondary-border {
  border-color: var(--secondary-border-color);
}
.syner-primary-bg {
  background-color: var(--primary-color);
}
.syner-secondary-bg {
  background-color: var(--secondary-color);
}
.syner-white {
  color: var(--white-color);
}
.syner-white-bg {
  background-color: var(--white-color);
}
.syner-black {
  color: var(--black-color);
}
.syner-black-bg {
  background-color: var(--black-color);
}

/*==== container ====*/
.syner-container {
  width: 100%;
  max-width: 1280px;
  padding-left: 10px;
  padding-right: 10px;
  margin: 0 auto;
}

header {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  max-width: 1280px !important;
}

@media screen and (max-width: 768px) {
  header {
    padding-left: 10px !important;
    padding-right: 10px !important;
  }
}
